html{
    font-family: 'Lato', sans-serif;
}

body{
    background-color:#ecf0f1;

}

.alert{
    background-color: rgb(255, 73, 73);
}
main{
    margin-left: 25%;
    width: 50%;
    border: 1px solid black;
    margin-right: 10%;
    background-color: white;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

input{
    border: 1px solid black;
    margin: 5px;
    height: 25px;
    width: 143px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 300;
}

header{
    color:#ecf0f1;
    background-color: gray;
    padding: 20px 0;
    text-align: center;
}
h2{
    padding: 5px;
}
#tableHead{
    background-color: rgb(149, 149, 149);
}

#tableData:nth-child(odd) td{
    background-color:rgb(207, 207, 207);
}
#tableData:nth-child(even) td{
    background-color:rgb(233, 233, 233);
}

#blankTable{
    width: 830px;
    background-color: rgb(187, 187, 187);
}
tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 35px;
    width: 136px;
}

#submit{
    height: 30px;
    width:  100px;
    border-radius: 5px;
    background-color: lightgray;
    margin-left: 85.5%;
    margin-top: 10px;
    border: 1px solid black;
    font-weight: 400;
    font-size: 20px
}
#totalMonthOut{
    display: block;
    border-collapse: collapse;
    text-align: auto;
}

#deleteBtn{
    height: 25px;
    width: 80px;
    font-weight: 600;
    border-radius: 5px;
}
#total{
    display: block;
    text-align: right;
}

.error{
    border: 2px solid red;
}

#alert{
    color: red;
}